@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer utilities {
    body {
      @apply font-body font-light text-neutral-900 lining-nums;
    }
    input,
    textarea {
      @apply focus:outline-none focus:border-none resize-none;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

input:-webkit-autofill {
  background-color: #fff !important;
  color: inherit;
  border-color: inherit;
}
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.autofill-border:-webkit-autofill,
.autofill-border:autofill {
  border-color: #996830;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000000;
}